<html>
  <h1>'Legal' Pets</h1>
  <p>The pet you were waiting for is available at <%= @price %> price!</p>

  <p>Go to <a href="http://legal-pets.herokuapp.com">'Legal' Pets</a> to purchase one.</p>
</html>
