<html>
  <h1>'Legal' Pets</h1>
  <p>The pet you were watching had a price drop! It is now available for blank amount</p>

  <p>Go to <a href="http://legal-pets.herokuapp.com">'Legal' Pets</a> to purchase one.</p>
</html>
